body{
    background-color: cadetblue;
    margin: 0;
}
header{
    background-color: chocolate;
    width: 100%;
    height: 400px;
    padding: 20px;
}
h1, h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}